</div>
<!--{if $_G['gp_mod'] != 'app'}-->
<div id="footer">
    <!--{if $_G['gp_mod'] == 'developer'}-->
    <p class="mbn">
        <a href="http://t.qq.com/discuzaddon" target="_blank" class="dmb">Discuz! Application Center official
            Microblogging</a>
        <span class="pipe">|</span>
        <a href="{$_G[siteurl]}?!agreement" target="_blank">Services Agreement</a>
        <span class="pipe">|</span>
        <a href="http://dev.discuz.org/wiki/" target="_blank">Discuz! Technical Library</a>
    </p>
    <!--{/if}-->
    <p>Copyright &copy; 2011-{echo date('Y');} <a href="http://webmaster-gambit.ru" target="_blank">Webmaster Gambit</a><br/>
        Developer <a href="http://www.comsenz.com/" target="_blank">Comsenz Inc.</a>
    </p>
</div>
<!--{/if}-->
</body>
</html>
{eval output();}